rect {
  /* animation: 3s infinite alternate slidein; */
  transition: .5s all;
  opacity: 1;
  animation: fade .5s linear;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
